<body>
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="container text-center">
            <h2 class="text-center">Ingresa los nuevos datos del producto</h2>
          </div>
          <div class="card-body">

            
            <form action="/productos/{{this.id}}/editar" method="POST">
            

              <div class="mb-3">
                
                <label for="nombre" class="form-label">Nombre del producto</label>
                
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
              </div>
              <div class="mb-3">

                <label for="precio" class="form-label">Precio del producto</label>
                <input type="number" min="1" class="form-control" name="precio" placeholder="Precio">
              </div>
              
              <div class="mb-3">

                <label for="genero" class="form-label">Género</label>
                <select class="form-select" name="genero">
                  <option value="hombre">Hombre</option>
                  <option value="mujer">Mujer</option>
                  <option value="unisex">Unisex</option>
                </select>
              </div>
              <div class="mb-3">

                <label for="colores" class="form-label">Acabado (Colores)</label>
                <input type="text" class="form-control" name="colores" placeholder="Colores separados por coma">
              </div>
              <div class="mb-3">

                <label for="genero" class="form-label">Tipo de prenda</label>
                <select class="form-select" name="tipo_prenda">
                  <option value="poleraycamisa">Polera y camisa</option>
                  <option value="poleronychaqueta">Poleron y chaqueta</option>
                  <option value="pantalonbuzojeans">Pantalon, buzo, jeans</option>
                </select>
              </div>
              <div class="mb-3">

                <label for="imagen" class="form-label">Link imagen del producto</label>
                <input type="text" class="form-control" name="imagen">
              </div>

              <button type="submit" class="btn btn-primary">Subir nuevos datos</button>

            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


