<body>
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="container text-center">
            <h2 class="text-center">Ingresa los nuevos datos del empleado</h2>
          </div>
          <div class="card-body">


            <form action="/empleados/{{this.rut}}/editar" method="POST">


              <div class="mb-3">

                <label for="id_tienda" class="form-label">ID de la tienda (si no se edita permanece igual)</label>

                <input type="number" class="form-control" name="id_tienda" value="{{this.id_tienda}}">
              </div>
              <div class="mb-3">

                <label for="horas" class="form-label">Horas Trabajadas</label>
                <input type="number" min="1" class="form-control" name="horas" value="{{this.horas}}">
              </div>

              <div class="mb-3">

                <label for="ventas" class="form-label">Ventas Realizadas</label>
                <input type="number" min="1" class="form-control" name="ventas" value="{{this.ventas}}">
              </div>

              </div>

              <button type="submit" class="btn btn-primary">Subir nuevos datos</button>

            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>