<body>
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="container text-center">
            <h2 class="text-center">Ingresa los nuevos datos del producto</h2>
          </div>
          <div class="card-body">

            
            <form action="/inventario/{{this.id}}/editar" method="POST">
            

              <div class="mb-3">
                
                <label for="cantidad" class="form-label">Cantidad</label>
                
                <input type="number" min="1" class="form-control" name="cantidad" value="{{this.cantidad}}">
              </div>
              <div class="mb-3">

                <label for="categoria" class="form-label">Categoria</label>
                <input type="text" class="form-control" name="categoria" value="{{this.categoria}}">
              </div>
            
              </div>

              <button type="submit" class="btn btn-primary">Subir nuevos datos</button>

            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>